<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= site.title %></title>
    <meta name="description" content="<%= site.description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="React SSR boilerplate">
    <meta property="og:title" content="<%= site.title %>">
    <meta property="og:description" content="<%- site.description %>">
    <meta property="og:url" content="<%- site.url %>">
    <% if (site.previewImage) { %><meta property="og:image" content="<%= site.previewImage %>"><% } %>
    <link rel="canonical" href="<%= site.canonicalUrl || site.url %>">
    <% if (config.env === 'development') { %><script src="/reload/reload.js"></script><% } %>
    <link rel="manifest" href="/public/manifest.json">
    <link rel="shortcut icon" href="/public/react-icon.png">
    <%= app.state %>
    <%= app.css %>
  </head>
  <body>
    <noscript>
      You need to enable JavaScript to run this app!
    </noscript>
    <div id="root"><%= app.html %></div>
    <script src="/<%- site.bundles.js %>"></script>
  </body>
</html>
